# Ignore backup files and other cruft
*~
DEADJOE
*.bak

# Ignore installed composer dependencies
/vendor/

# Ignore the file store
/store/

# Ignore HT Access File
/public/.htaccess

# Ignore cache
/cache/

# Ignore config files
/config/

# Ignore staging patches
/staging/
