BODY {
	margin: 0;
	background:#050505;
	background-repeat:no-repeat;
	background-attachement:fixed;
	background-position:top center;
	border-bottom-right-radius: 4em 0.5em;
	border-bottom-left-radius: 1em 3em;
}
	
#topbar {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	min-width: 1200px;
	margin-bottom: 20px;
	padding-bottom: 0;
	background: #000 url(/img/banner_bg.jpg);
	background-position:top left;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 6px;
	border-bottom-color: #006BA3;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	height: 140px;
	z-index: 999;
}

#main {
	/* must set bottom padding to the height of #footer */
	margin: 140px 0 30px 0;
	clear:both;
	background-repeat: no-repeat;
	background-attachement: fixed;
	background-position: center bottom;
	width: 99%;
	color:#aaa;
	background-color: #050505;
	padding-top:20px;

}

#footer {
	position: fixed;
	left: 0;
	bottom: 0px;
	width: 100%;
	padding: 0;
	background: url(/img/footerbg.png);
	background-position: center;
	height: 20px;
	z-index: 100;
	border-top-right-radius: 12em 3em;
	border-top-left-radius: 12em 3em;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #006BA3;
	border-right-color: #006BA3;
	border-bottom-color: #000;
	border-left-color: #006BA3;
}


.lineup {
	margin : 0px auto;
	width: 90%;
	padding-top: 40px;
}

.lineup h1 {
	position: fixed;
	margin:0px;
	padding-top: 0px;
	padding-bottom: 2px;
	padding-left: 34px;
	margin-bottom: 20px;
	top:100px;
	right:0;
	color:#fff;
	text-align:left;
	vertical-align:middle;
	font: 20px "Papyrus", fantasy;
	background: url(/img/footerbg.png);
	border-right: solid #006BA3 1px;
	border-bottom: solid #006BA3 1px;
	border-bottom-left-radius: 9em 4em;
	border-bottom-right-radius: 5px;
	width:22%;
	z-index:100;
	
}	

.lineup ul { 
	margin: 0;
	padding: 0;
    list-style-type: none;
	}

.lineup li{
	line-height: 100px 
	margin: 0;
	padding: 0;

}

.lineup p {
	margin:20;
}

#lineup_box {
	float:left;
	padding: 10px;
	width: 250;
	height: 190;
	text-align:center;
	background:#111;
	border-top-right-radius: 6px;
	border-top-left-radius: 4em 0.5em;
	border-bottom-left-radius: 6px;
	border-width:1px;
	border-style: solid;
	border-right-color: #222;
	border-bottom-color: #333;
	border-left-color:#000;
	border-top-color:#000;
	margin-bottom:15px;
	margin-left:23px;
}

ul.topnav li {
	float: left;
	margin: 0;	
	padding: 0 0px 0 0;
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
}

ul.topnav li ul.subnav {
	position: absolute;
	width: 920px;
	display: none;
}

ul.topnav li ul.subnav li {
	padding: 5px;
	position: relative;
	float: left;
	font-size: x-large;
	border-radius: 5px;
	background-color: black;
}

ul.sdt_menu{
	Position: fixed;
    left: 0;
    top: 105;
    width: 100%;
	min-width: 900px;
	margin: 0;
	padding: 0;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 4em 0.5em;
	background: url(/img/transbg.png);
	height: 35px;
	z-index: 100;
	list-style: none;
	font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
	font-size:12px;
	width:100%;
	
}
ul.sdt_menu a{
	text-decoration:none;
	outline:none;
}
ul.sdt_menu li{
	float:left;
	width:130px;
	height:30px;
	position:relative;
	cursor:pointer;
}
ul.sdt_menu li > a{
	position:absolute;
	top:0px;
	left:0px;
	width:130px;
	height:35px;
	z-index:0;
	background:transparent url(../images/overlay1.png) no-repeat bottom right;
	-moz-box-shadow:0px 0px 2px #000 inset;
	-webkit-box-shadow:0px 0px 2px #000 inset;
	box-shadow:0px 0px 2px #000 inset;
}
ul.sdt_menu li a img{
	border:none;
	position:absolute;
	width:0px;
	height:0px;
	bottom:0px;
	left:85px;
	z-index:0;
	-moz-box-shadow:0px 0px 4px #000;
	-webkit-box-shadow:0px 0px 4px #000;
	box-shadow:0px 0px 4px #000;
}
ul.sdt_menu li span.sdt_wrap{
	position:absolute;
	top:2px;
	left:0px;
	width:130px;
	height:40px;
	z-index:50;
}

ul.sdt_menu li span.sdt_active{
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 4em 0.5em;
	position: absolute;
	background: url(/img/transbg2.png);
	top: 20px;
	width: 130px;
	height: 0px;
	left: 0px;
	z-index: 50;
	-moz-box-shadow: 0px 0px 4px #000 inset;
	-webkit-box-shadow: 0px 0px 4px #000 inset;
	box-shadow: 0px 0px 4px #000 inset;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
ul.sdt_menu li span.sdt_active2{
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 4em 0.5em;
	position:absolute;
	background:;
	top:40px;
	width:130px;
	height:0px;
	left:0px;
	z-index:50;
	-moz-box-shadow:0px 0px 4px #000 inset;
	-webkit-box-shadow:0px 0px 4px #000 inset;
	box-shadow:0px 0px 4px #000 inset;
}
ul.sdt_menu li span span.sdt_link,
ul.sdt_menu li span span.sdt_descr,
ul.sdt_menu li div.sdt_box a{
	margin-left:15px;
	text-transform:uppercase;
	text-shadow:1px 1px 1px #000;
}
ul.sdt_menu li span span.sdt_link{
	color:#fff;
	font-size:15px;
	float:left;
	clear:both;
}
ul.sdt_menu li span span.sdt_descr{
	color:#0B75AF;
	float:left;
	clear:both;
	width:155px; /*For dumbass IE7*/
	font-size:10px;
	letter-spacing:1px;
}
ul.sdt_menu li div.sdt_box{
	display: block;
	position: absolute;
	width: 180px;
	overflow: hidden;
	height: 130px;
	top: 35px;
	left: 0px;
	display: none;
	background: url(/img/transbg.png);
	border-width: 1px;
	padding-bottom:2px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #006BA3;
	border-bottom-color: #006BA3;
}
ul.sdt_menu li div.sdt_box a{
	float:left;
	clear:both;
	line-height:30px;
	color:#0B75AF;
}
ul.sdt_menu li div.sdt_box a:first-child{
	margin-top:15px;
}
ul.sdt_menu li div.sdt_box a:hover{
	color:#fff;
}

.fb-like {
	background: url(/img/transbg.png);
	width:220px;
	float: right;
	padding: 7px;
	margin-top: 61px;
	margin-right:2px;
}

	
