BODY {
	background : #050505;
	background-repeat : no-repeat;
	background-position : top center;
	border-bottom-right-radius : 4em 0.5em;
	border-bottom-left-radius : 1em 3em;
	font-size : 1em;
	height : 100%;
}

a {
	text-decoration : none;
}

#topbar {
	position : fixed;
	left : 0;
	top : 0;
	width : 100%;
	minimum-width:1160px;
	margin-left:0;
	margin-bottom : 20px;
	padding-bottom : 0;
	padding-left: 0;
	background : url(/img/banner_bg.jpg) #000;
	background-position : top left;
	border-top-left-radius : 10px;
	border-top-right-radius : 10px;
	border-bottom-left-radius : 0px;
	border-bottom-color : #006BA3;
	border-bottom-width : 1px;
	border-bottom-style : solid;
	height : 140px;
	z-index : 9999;
}
#main {
	clear: both;
	position: relative;
	margin: 0 auto;
	margin-top: 135px;
	width : 99%;
	color : #aaa;
	padding-top: 50px;
	padding-bottom: 50px;
	
}
#footer {
	position: fixed;
	margin-left:0px;
	margin-top: 145px;
	padding-top: 50px;
	left: 0;
	bottom: 0;
	width : 100%;
	height: 75px;
	background : url(/img/mainboxbg.png);
	background-position : center bottom;
	z-index : 9999;
	
}

#submenu {
	position:fixed;
	background : url(/img/transbg2.png);
	left: 0;
	top: 140px;
	width: 100%;
	height: 20px;
	border-bottom-left-radius : 4em 2em;
	border-bottom-right-radius :  2em 4em;
	z-index: 900;
	}
	


.lineup {
	margin: 0 auto;
	padding-left: 15px;
	width: 98%;
	padding-top : 20px;
	text-align:center;
}
.lineup a {
	text-decoration : none;
}

.lineup img {
	border-style : none;
}
.lineup h1 {
	
	display: block;
	min-width:200px;
	position : fixed;
	clear : both;
	right: 0;
	margin : 0;
	padding: 1px;
	padding-left : 34px;
	padding-right : 50px;
	top : 130px;
	color : #fff;
	text-align : left;
	font-family : "Myriad Pro", "Trebuchet MS", sans-serif;
	font-size : 0.8em;
	font-style : normal;
	vertical-align : middle;
	background : url(/img/footerbg.png);
	border-right : 1px solid #006BA3;
	border-bottom : 1px solid #006BA3;
	border-bottom-left-radius : 9em 4em;
	border-bottom-right-radius : 2em 4em;
	z-index : 999;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	}
	
.lineup ul {
	margin : 0px;
	padding : 0px;
	list-style-type : none;
	}

.lineup li {
	margin : 0px;
	padding : 0px;
}
#lineup_box {
	float : center;
	padding: 8px 5px 5px;
	text-align : center;
	background : #111;
	border-top-right-radius : 6px;
	border-top-left-radius : 4em 0.5em;
	border-bottom-right-radius : 4em 0.5em;
	border-bottom-left-radius : 6px;
	border-width : 1px;
	border-style : solid;
	border-right-color : #333;
	border-bottom-color : #222;
	border-left-color : #111;
	border-top-color : #000;
	margin-bottom : 15px;
	margin-right: 15px;
	width: 250px;
	display: inline-block;
}
ul.topnav li {
	float : left;
	margin : 0;
	padding : 0 0 0 0;
	position : relative;
}
	ul.topnav li ul.subnav {
	position : absolute;
	width : 920px;
	display : none;
}
ul.topnav li ul.subnav li {
	padding : 5px;
	position : relative;
	float : left;
	font-size : x-large;
	border-radius : 5px;
	background-color : black;
}
ul.sdt_menu {
	position : fixed;
	top : 105px;
	left : 0;
	width : 100%;
	min-width : 1000px;
	margin : 0;
	padding : 0;
	border-top-left-radius : 5px;
	border-bottom-right-radius : 4em 0.5em;
	background : url(/img/transbg.png);
	height : 35px;
	z-index : 1;
	list-style : none;
	font-family : "Myriad Pro", "Trebuchet MS", sans-serif;
	font-size : 0.7em;
	width : 100%;
}
ul.sdt_menu a {
	text-decoration : none;
	outline : none;
}
ul.sdt_menu li {
	float : left;
	width : 130px;
	height : 30px;
	position : relative;
	cursor : pointer;
}
ul.sdt_menu li > a {
	position : absolute;
	top : 0;
	left : 0;
	width : 130px;
	height : 35px;
	z-index : 0;
	background : url(../images/overlay1.png) bottom right no-repeat transparent;
	
}
ul.sdt_menu li a img {
	border : none;
	position : absolute;
	width : 0;
	height : 0;
	bottom : 0;
	left : 85px;
	z-index : 0;
	box-shadow : 0 0 4px #000;
}
ul.sdt_menu li span.sdt_wrap {
	position : absolute;
	padding-top : 2px;
	left : 0;
	width : 130px;
	height : 40px;
	z-index : 1;
}
ul.sdt_menu li span.sdt_active {
	
	display:block;
	border-top-left-radius : 3px;
	border-top-right-radius : 4em 0.5em;
	position : absolute;
	background : url(/img/footerbg.png);
	bottom: 0;
	width : 130px;
	height : 0;
	left : 0;
	z-index : 1;
	box-shadow : 0 0 4px #000 inset;
	border-right-color : #006BA3;
	border-right-width : 1px;
	border-right-style : solid;
	
	
}

.sdt_menu li sdt_active:hover > ul li sdt_active {
    overflow: display:block;
    padding: 0;
}

ul.sdt_menu li span.sdt_active2 {
	
	position : absolute;
	top : 40px;
	width : 130px;
	height : 0;
	left : 0;
	z-index : 50;
	box-shadow : 0 0 4px #000 inset;
}
	ul.sdt_menu li span span.sdt_link, ul.sdt_menu li span span.sdt_descr, ul.sdt_menu li div.sdt_box a {
	margin-left : 15px;
	text-transform : uppercase;
	text-shadow : 1px 1px 1px #000;
}
ul.sdt_menu li span span.sdt_link {
	color : #fff;
	font-size : 1.3em;
	float : left;
	clear : both;
}
ul.sdt_menu li span span.sdt_descr {
	color : #0B75AF;
	float : left;
	clear : both;
	width : 155px;
	font-size : 0.9em;
	letter-spacing : 1px;
}
ul.sdt_menu li div.sdt_box {
	display : block;
	position : absolute;
	width : 180px;
	overflow : hidden;
	height : 130px;
	top : 35px;
	left : 0;
	display : none;
	background : url("/img/transbg.png");
	border-width : 1px;
	padding-bottom : 2px;
	border-bottom-right-radius : 6px;
	border-bottom-left-radius : 6px;
	border-right-style : solid;
	border-bottom-style : solid;
	border-right-color : #006BA3;
	border-bottom-color : #006BA3;
}
ul.sdt_menu li div.sdt_box a {
	float : left;
	clear : both;
	line-height : 30px;
	color : #006BA3;
}
ul.sdt_menu li div.sdt_box a:first-child {
	margin-top : 15px;
}
ul.sdt_menu li div.sdt_box a:hover {
	color : #fff;
}

#fbroot {
	margin-left:900px;
	background : url(/img/transbg.png);
	width : 220px;
	height: 30px;
	float : right;
	padding : 7px;
	margin-top : 61px;
	margin-right : 2px;
}

#adminbox {
	position:relative;
	margin-top:113px;
	float:right;
	
	padding-right:0px;
	margin-left: 900px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-color: #fff;
	z-index:999;
	border-top : 1px solid #006BA3;
	border-top-left-radius: 5px;
	
}

#login {
	width: 500px;
	background:  #4f738e;
	border-radius: 10px;
	font-size: xx-large;
	padding: 5px;
	box-shadow: inset 0 0 10px #183c57; /*2px 2px 5px 0px #888888 inset;*/
	font-family: Arial;
	color: #7ca0bb;
}

#login label {
	float: left;
	clear: both;
}

#login input[type=text],
#login input[type=text]:hover,
#login input[type=text]:focus,
#login input[type=text]:active,
#login input[type=password],
#login input[type=password]:hover,
#login input[type=password]:focus,
#login input[type=password]:active {
	color: #7ca0bb;
	float: right;
	width: 70%;
	font-size: x-large;
	border: 0;
	outline: none;
	outline-offset: 0;
	background-color: transparent;
}

#login input[type=submit],
#login input[type=submit]:hover,
#login input[type=submit]:focus,
#login input[type=submit]:active
{
	float: right;
	font-size: large;
	border: 0;
	border-radius: 2px;
}

#error {
	width: 300px;
	color: #CE1620;
	border-radius: 5px;
	background-color: #FF1C00;
}

ul.admin_child li {

	display : none;
	position : absolute;
}

ul.admin_parent li admin_child:hover {

	display: block;
}	
	
.menu,

.menu a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
 
.menu {
	position: fixed;
    margin:0;
	right: 0;
	height: 20px;
    width: 300px;
    background : url(/img/transbg2.png);
    padding-bottom:2px;
	border-top : 1px solid #000;
	border-left : 1px solid #000;

    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-radius-top-left: 5px;
}
 
.menu li {
    
	position: relative;
    list-style: none;
    float: left;
    display: block;
    height: 20px;
	font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 10px;
    color: #f3f3f3;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	
	
	}

.menu li a {
    display: block;
    padding: 0 5px;
    margin: 6px 0;
    text-decoration: none;
    border-left: 1px solid #393942;
    border-right: 1px solid #4f5058;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 10px;
    color: #f3f3f3;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
 
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
 
.menu li:first-child a { border-left: none; }
.menu li:last-child a{ border-right: none; }
 
.menu li:hover > a { color: #006BA3; }

.menu ul {
    position: absolute;
    top: 23px;
    left: 0;
 
    opacity: 0;
    background: url(/img/transbg2.png);
	border-right : 1px solid #006BA3;
	border-bottom : 1px solid #006BA3;
	border-left: 1px solid #000;
	-webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
	
    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}
 
.menu li:hover > ul { opacity: 1; }
 
.menu ul li {
    height: 0;
    overflow: hidden;
    padding: 0;
    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}
 
.menu li:hover > ul li {
    height: 20px;
    overflow: visible;
    padding: 0;
}

.menu ul li a {
    width: 70px;
    padding: 4px 0 4px 0px;
    margin: 0;
	border: none;
	font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 9px;
    color: #f3f3f3;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
 }
 
.menu ul li:last-child a { border: none; }

.menu li.username {
	float: right;
	padding-top: 5px;
	padding-right: 5px;
	color : #006BA3;
}
	

ul.semiopaquemenu{ 

	font: bold 8px Georgia ;
	font-color: #fff;
	width: 100%;
	float: right;
	padding: 7px 0 3px 8px; 
	margin: 0;
	margin-right: 210px;
	text-align: right; 
	border-bottom-left-radius : 9em 4em;
	border-bottom-right-radius : 5em 4em;
}

ul.semiopaquemenu li{
	display: inline;
	margin-left: 0px;
}

ul.semiopaquemenu li a{
	color: #fff;
	padding: 0px 8px 2px 8px; 
	margin-right: 15px; 
	text-decoration: none;
}

ul.semiopaquemenu li a:hover, ul.semiopaquemenu li a.selected{
	color: white;
	background: url(/img/transbg2.png); 
	-moz-box-shadow: 0 0 5px #595959; /* CSS3 box shadows */
	-webkit-box-shadow: 0 0 5px #595959;
	box-shadow: 0 0 5px #595959;
	padding-top: 10px;
	padding-bottom: 5px; 
}

