<?php

$DATABASE_CONFIG = [
	'driver'    => 'mysql',
	'host'      => '127.0.0.1',
	'database'  => 'eman',
	'username'  => 'root',
	'password'  => '',
	'charset'   => 'utf8',
	'collation' => 'utf8_general_ci',
	'prefix'    => 'phr_',
];
